.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chat-position {
  position: fixed;
  bottom: 50px;
  right: 50px
}

.chat-room {
  border: 2px solid black;
  width: 300px;
}

.close-cta {
  position: absolute;
  right: 10px;
}

.close-cta svg {
  height: 20px;
  width: 20px;
}

.close-cta button {
  height: 20px;
  width: 20px;
  border: 0;
}

.messages-container {
  height: 300px;
  overflow-y: scroll;
}

.chat-message {
  display: flex;
}

.send-input-container {
  display: flex;
  justify-content: space-between;
}

.send-input-container div {
  flex: 1;
}

.is-writing {
  display: flex;
}
